# dependencias y variables locales
node_modules
.env

# archivos temporales/sistema
.DS_Store
*.log

# (solo si algún día cambias el generator para emitir el cliente fuera de node_modules)
# src/generated/prisma

